{% extends 'base.html' %}
{% load static %}
{% block content %}

     
        <!-- Header-->
          <header class="bg-dark py-5" style="background-image: url('{% static 'home.webp' %}'); background-size: cover; background-position: center;">
              <div class="container px-4 px-lg-5 ">
                  <div class="text-center text-black">
                      <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                      <p class="lead fw-normal text-red-50 mb-0">View your cart</p>
                  </div>
              </div>
          </header>
        <br/>
        <div class="container">

        {% if cart_products %}
        <div class="card mb-1" >
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                       
                        <h6 class="card-title"><b>Product Shipped From CustomKicks Store</b></h6>
                        
                    </div>
                </div>
            </div>
        </div>
        	{% for product in cart_products %}
            	
<div class="card mb-1">
  <div class="row g-0">
    <div class="col-md-2">
       <a style="text-decoration: none; color: inherit; outline: none;" href="{% url 'product' product.id%}">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
      </a>
      
    </div>
    <div class="col-md-8">
      <div class="card-body">
          <h5 class="card-title text-">{{ product.name }}</h5>
        <p class="card-text text-secondary">
            {{ product.small_description }}
        </p>
        
        <!--Products on sales will be here-->
        {% if product.is_sale %}
          <div class="btn bg-light text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">
            <h4>R{{ product.sale_price }}</h4>
          </div>
          <div class="btn bg-light text-dark position-absolute" style="top: 5.5rem; right: 0.5rem">
           <b>In stock</b>
            On Sale!!!
          </div>
          
        {% else %}
            <div class="btn bg-light text-dark position-absolute" style="top: 0.5rem; right: 0.5rem">
            <h4>R{{ product.price }}</h4>
          </div>
          <div class="btn bg-light text-dark position-absolute" style="top:  5.5rem; right: 0.5rem">
           <b>In stock</b>
          
          </div>      
        {% endif %}      
        <div class="row justify-content">
          <div class="col-md-2">Qty:</div>
                <div class="col-md-3">
                  <select class="form-select form-select-sm" id="select{{product.id}}">
                    
                    {% for key, value in quantities.items %}
                        {% if key == product.id|slugify %}
                    <option selected>{{ value }}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                </div>
            </div>
        <center>
              
        <button type="button" data-index="{{ product.id }}" class="btn btn-warning btn-sm update-cart">Update</button>
        <button type="button" data-index="{{ product.id }}" class="btn btn-danger btn-sm delete-product" >Remove</button>
        </center>
        
      </div>
    </div>
  </div>
</div>
        	{% endfor %}
            <div align="right">
              <br><br>
              <h3>Total: R{{ totals }}</h3>
              <a href="{% url 'checkout' %}" class="btn btn-success btn-lg">Checkout</a>
            </div>
            <br/>
        	{% else %}
          <br><br> 
          <center>    
                 <div class="card shadow-sm p-3  bg-white rounded" >

                  <h4 class="card-title text-">
              Your cart is empty... Let's go grab something from the store.
            </h4> 
                 </div>                             
                                  
          </center>
        	<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        {% endif %}
    	</div>
 
      <script>
// Update Cart
$(document).on('click', '.update-cart', function(e){
    e.preventDefault();
    // grab the product id
    var productid = $(this).data('index');

    $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data: {
      product_id: $(this).data('index'),
      product_qty: $('#select' + productid + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        console.log(json)
        document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){

    }
    });
})

// Delete Item From Cart
$(document).on('click', '.delete-product', function(e){
    e.preventDefault();
    // grab the product id
    //var productid = $(this).data('index');
    $.ajax({
    type: 'POST',
    url: '{% url 'cart_delete' %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },
    success: function(json){
        console.log(json)
        document.getElementById("cart_quantity").textContent = json.qty
        location.reload();
    },

    error: function(xhr, errmsg, err){
    }
    });

})
</script>
{% endblock %}