{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5" style="background-image: url('{% static '21a.webp' %}'); background-size: cover; background-position: center;">
        <div class="container px-4 px-lg-5 ">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">CustomKicks Store</h1>
                <p class="lead fw-normal text-red-50 mb-0">Make a statement with handcrafted, one-of-a-kind footwear</p>
            </div>
        </div>
    </header> 
    <section class="py-5">
        <div class="container ">
            <p>
    Welcome to our store, the ultimate destination for customized Nike Air Force 1 sneakers! We specialize in turning 
    the iconic Air Force 1 into a unique masterpiece tailored just for you. Whether you're looking to express your 
    individuality or give the perfect personalized gift, our designs are crafted to make a statement.
    <br><br>

    Each pair is meticulously designed with premium materials and attention to detail, ensuring that your customized 
    sneakers are not only stylish but also durable. From vibrant colors and bold patterns to minimalistic elegance, 
    we offer a wide range of customization options to match your vision. Our team is passionate about combining 
    creativity and craftsmanship to bring your ideas to life.
    <br><br>

    At our store, customer satisfaction is at the heart of everything we do. Our streamlined online platform makes it 
    easy for you to create your perfect pair in just a few clicks. Need inspiration? Browse through our gallery of 
    stunning designs or connect with our team for personalized guidance. Once your order is ready, we partner with 
    trusted shipping providers to deliver your custom sneakers right to your doorstep.
    <br><br>

    Thank you for choosing us to bring your dream sneakers to life. Step into the world of endless possibilities 
    with customized Nike Air Force 1s and redefine what it means to stand out. Your journey to individuality starts 
    here!
</p>
        </div>
        <br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    </section> 
{% endblock %}