{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5" style="background-image: url('{% static 'we.webp' %}'); background-size: cover; background-position: center;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                <h1 class="display-4 fw-bolder">CustomKicks Store</h1>
                <p class="lead fw-normal text-red-50 mb-0">Make a statement with handcrafted, one-of-a-kind footwear</p>
            </div>
        </div>
    </header> 
    
    <section class="py-5">
        <div class="container ">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac justo sit amet augue ultrici
                es dapibus ut vel tellus. Phasellus et fermentum turpis. Donec mattis eget ligula a cursus. 
                Morbi lacinia commodo sollicitudin. Mauris blandit facilisis odio, ut interdum sapien auctor 
                vel. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                Sed malesuada facilisis venenatis. Proin tincidunt quis eros sed placerat. Suspendisse ac mass
                a sem. Mauris scelerisque gravida mattis. Donec rutrum massa tincidunt nulla venenatis aliqua
                m. Integer consequat mollis justo, vitae ornare felis blandit in. Integer eros dolor, faucibus
                eu felis at, aliquet laoreet dolor. Vivamus non nibh aliquet, ultricies ligula at, interdum ne
                que.
                <br><br>

                Quisque posuere efficitur justo a finibus. Duis sollicitudin molestie tellus vehicula molestie
                . Nam id lorem nisi. Curabitur cursus pretium tellus, vitae imperdiet diam faucibus nec. Ut di
                gnissim ipsum mi, id lobortis mauris consequat quis. Nunc vel magna id sapien sollicitudin sus
                cipit in id justo. Ut ligula turpis, venenatis sit amet risus quis, imperdiet euismod ipsum. S
                ed in blandit neque. Integer convallis lobortis nisl vel congue. Aenean commodo nibh ut malesuada tristique.
                <br><br>
                
                Sed eget augue condimentum, rhoncus velit laoreet, scelerisque quam. Vestibulum vehicula laoreet tellus. Proin ut turpis molestie, molestie quam id, ornare metus. Sed bibendum felis sit amet turpis porta ornare. Suspendisse et erat quam. Phasellus dignissim, lorem vel venenatis faucibus, lectus odio feugiat libero, mollis viverra arcu diam a leo. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque vel tempus mauris, at bibendum justo. Curabitur in mauris malesuada nisl viverra malesuada sit amet a augue. Vivamus nec blandit est. Nam eget scelerisque ex. Cras at elementum arcu, non interdum est. Proin in tellus et turpis semper con
            </p>
        </div>
    </section>
    
{% endblock %}