{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Section-->            
<div class="container px-4 px-lg-5 mt-5">   
    <div class="card mb-3 shadow-sm p-3 mb-5 bg-white rounded " >
          
        <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ product.image.url}}" class="img-fluid rounded-start" alt="...">
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ product.name}}
                        </h3>
                        <p class="card-text text-secondary">
                            {{ product.small_description }}
                        </p>
                        <!-- Product Sale-->
                        {% if product.is_sale %}
                            <div class="btn bg-danger text-white position-absolute" style="top: 0.5rem; right: 1rem">
                                    On Sale!!!
                            </div>

                            <b>R {{ product.sale_price}}</b>

                            <!-- Product price Strike-->
                            &nbsp;
                            <i >
                                <strike>
                                R {{ product.price}} 
                                </strike>
                            </i>
                        <br><br>

                        <b>In stock</b>
                        promotional stuff
                       
                        {% else %}
                        
                        <b>R {{ product.price}}</b>
                        
                        
                        
                        <!--
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="#">
                                    View
                                </a>
                            </div>
                        </div>-->

                        <b>In stock</b>
                        promotional stuff
                        <br><br>
                       
                    
                        {% endif %}

                        <div class="row justify-content">
                            <div class="col-md-2">Quantity:</div>
                            
                                <div class="col-md-6">
                                    <div class="col-md-3 col-sm-1">
                                        <select class="form-select form-select-sm" id="qty-cart">
                                            {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                                <option selected>{{ value }}</option>
                                            {% endif %}
                                            {% endfor %}
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                       
                        <center>
                            <button type="submit" value="{{ product.id }}" id="add-cart" class="btn col-md-9  " style="background-color: rgb(25, 178, 25); border-color: rgb(25, 178, 25);">
                            Add to cart
                        </button>
                        </center>
                        
                        
                    </div>
                </div>
            </div>  

            <br><br>

            <div class="card mb-3 shadow-sm p-3 mb-5 bg-white rounded" >
                <div class="row g-0">
                    <div class="col-md-10">
                        <div class="card-body">
                            <h6 class="card-title"><b>Description</b></h6>
                            <p class="card-text">{{ product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>          
</div>


    <script>

        // Check if button pressed
        $(document).on('click', '#add-cart', function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '{% url 'cart_add' %}',
                data: {
                product_id: $('#add-cart').val(),
                product_qty: $('#qty-cart option:selected').text(),
                product_size:$('#size-cart option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
                },

                success: function(json){
                    console.log(json)
                    document.getElementById("cart_quantity").textContent = json.qty
                    location.reload();
                },

                error: function(xhr, errmsg, err){

                }
            });
        })
        </script>

{% endblock %}

