{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5" style="background-image: url('{% static 'b.webp' %}'); background-size: cover; background-position: center;">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder">Register</h1>
                    <p class="lead fw-normal text-red-50 mb-0">Register for User Account...</p>
            </div>
        </div>
    </header> 

    <br><br><br>
    <div class="  container border rounded rounded-3 border-white  mb-3 shadow-sm p-3 mb-5" >
        
                <br/>

                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <br/><br>
                    <button type="submit" class="btn btn-secondary">
                        Register
                    </button>
                            
                </form>


    </div>
    <br/><br/><br/><br/><br/><br/><br/>
        
{% endblock %}