{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br><br><br><br>

    <section class="product_list section_padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle text-center">
                        <h2>Searched for... <span>shop</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">

                        {% if searched %}
                            {% for product in searched %}
                                {% if product.is_sale %}
                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a style="text-decoration: none; color: inherit; outline: none;" href="{% url 'product' product.id%}">
                                            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 1.5rem">
                                                On  Sale
                                            </div>
                                            <img src="{{ product.image.url }}" alt="">
                                        </a>
                                        
                                        <div class="single_product_text">
                                            <h4>{{ product.name }}</h4>
                                            <h3>R {{ product.sale_price }}  &nbsp;<strike>R {{ product.price }}</strike></h3>
                                            
                                        </div>
                                    </div>
                                </div>
                                {% else %}

                                <div class="col-lg-3 col-sm-6">
                                    <div class="single_product_item">
                                        <a style="text-decoration: none; color: inherit; outline: none;" href="{% url 'product' product.id%}">
                                            <img src="{{ product.image.url }}" alt="">
                                        </a>
                                        
                                        <div class="single_product_text">
                                            <h4>{{ product.name }}</h4>
                                            <h3>R{{ product.price }}</h3>
                                            
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                                {% endif %}

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
 
{% endblock %}