{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5" ><!--style="background-image: url('{% static 'b.webp' %}'); background-size: cover; background-position: center;"-->
        <div class="container px-4 px-lg-5 ">
            <div class="text-center text-black">
                    <h1 class="display-4 fw-bolder">Update Password</h1>
                    <p class="lead fw-normal text-red-50 mb-0">Update Your User Account Password</p>
            </div>
        </div>
    </header> 
    <br>
    <div class="  container " >
       <div class="row">
            <div class="col-md-6 offset-md-3 px-4 px-lg-5 my-5 mb-3 shadow-sm p-3 mb-5 bg-white rounded"> 
                <br/>
                <form method="POST" action="{% url 'update_password' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br/>

                    <button type="submit" class="btn btn-secondary">
                        Update Password
                    </button>     
                </form>
            </div>	
        </div>
    </div>
    <br/><br/> 
{% endblock %}